<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.common.board.mapper.BoardMapper">
 
    <select id="boardCount" resultType="int">
        SELECT
            COUNT(*)
        FROM board
    </select>
    
    <select id="boardList" resultType="com.common.board.domain.BoardVO" parameterType="com.common.board.paging.Criteria">
       SELECT a.*, b.fullPath
		FROM board a
		LEFT OUTER JOIN (
			SELECT a.*
			FROM files a
			INNER JOIN (
			SELECT board_id, MAX(fno) AS fno
			FROM files
			GROUP BY board_id) b ON a.fno = b.fno
		) b ON a.board_id = b.board_id
	ORDER BY a.board_id DESC
		LIMIT #{pageStart}, #{perPageNum}
    </select>
    
    <select id="boardDetail" parameterType="int" resultType="com.common.board.domain.BoardVO">
        SELECT a.*, b.fullPath
		FROM board a
		LEFT OUTER JOIN (
			SELECT a.*
			FROM files a
			INNER JOIN (
			SELECT board_id, MAX(fno) AS fno
			FROM files
			GROUP BY board_id) b ON a.fno = b.fno
		) b ON a.board_id = b.board_id
        WHERE
            a.BOARD_ID = #{board_id}
    </select>
    
    <insert id="boardInsert" parameterType="com.common.board.domain.BoardVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (
	        SUBJECT, 
	        CONTENT,
	        WRITER,
	        TELNO, 
	        LOCATION, 
	        KINDS, 
	        GENDER, 
	        REG_DATE
		) VALUES (
			#{subject},
			#{content},
			#{writer},
			#{telNo},
			#{location},
			#{kinds},
			#{gender},
			now()
	</insert>
    
    <update id="boardUpdate" parameterType="com.common.board.domain.BoardVO">
        UPDATE board
            SET
        <if test="subject != null">
            SUBJECT = #{subject}
        </if>
        <if test="subject != null and content != null"> , </if>
        <if test="content != null">
            CONTENT = #{content}
        </if>
        WHERE BOARD_ID = #{board_id}
    </update>
    
    <delete id="boardDelete" parameterType="int">
        DELETE FROM board WHERE BOARD_ID = #{board_id}
    </delete>
    
    <insert id="regReply" parameterType="com.common.board.domain.BoardReplyVo" useGeneratedKeys="true" keyProperty="reply_id">
        insert into board_reply(
            board_id,
            parent_id,
            depth,
            reply_content,
            reply_writer
        ) values (
            #{board_id},
            #{parent_id},
            #{depth},
            #{reply_content},
            #{reply_writer}
        )
    </insert>
    
    <select id="getReplyList" resultType="com.common.board.domain.BoardReplyVo" parameterType="int">
        select
            reply_id,
            board_id,
            parent_id,
            depth,
            reply_content,
            reply_writer
        from
            board_reply
        where
            board_id = #{board_id}
        order by reply_id asc
    </select>
    
    <delete id="delReply" parameterType="com.common.board.domain.BoardReplyVo">
        delete
        from
            board_reply
        where
            reply_id = #{reply_id}
        and reply_writer = #{reply_writer}
    </delete>
    
    <delete id="deleteBoardReplyAll" parameterType="com.common.board.domain.BoardReplyVo">
        delete
        from
            board_reply
        where
            reply_id in (
                select
                    reply_id
                from
                (select
                    reply_id
                from
                    board_reply
                where
                    reply_id = #{reply_id}
            ) or parent_id in (
                select
                    reply_id
                from
                (select
                    reply_id
                from
                    board_reply
                where
                    reply_id = #{reply_id}
            )
    </delete>
    
    <update id="updateReply" parameterType="com.common.board.domain.BoardReplyVo">
        update
            board_reply
        set
            parent_id = #{parent_id},
            depth = #{depth},
            reply_content = #{reply_content}
        where
            reply_id = #{reply_id}
        and reply_writer = #{reply_writer}
    </update>
    
    <insert id="fileInsert" parameterType="com.common.board.domain.FileVO">
	       INSERT INTO
	       files (board_id, fileName, fileOriName, filePath, fullPath)
	    VALUES (#{board_id}, #{fileName}, #{fileOriName}, #{filePath}, #{fullPath} )
	</insert>

    
</mapper>